/* CSS for additional styling to the section tagline */

/* Create new custom properties */
:root {
    --section-tagline-transform: uppercase;
}

/* Targeting the section-tagline class */
.section-tagline {
    font-family: var(--font-family-title);
}

.section-tagline {
    text-transform: var(--section-tagline-transform);
}

.section-tagline {
    font-weight: var(--font-weight-bold);
}

