/* CSS for adding padding to sections */

/* Define custom properties */
:root {
    --section-padding: 5rem 0;
    --section-header-padding: 0 0 3rem;
    --section-body-padding: 0 0 3rem;
    --section-footer-padding: 3rem 0 0;
    --section-footer-align: center;
    --footer-padding: 5rem 0 1rem;
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: calc(4% * 1rem); /* 4% of the root element */
    --nav-item-display: inline-block;
    --nav-item-margin: calc(3rem * 1rem) 0 0 0; /* 3 times the root element on the bottom and 0 elsewhere */
    --nav-item-link-hover: var(--color-primary);
}

/* Target the class section and set padding on all 4 sides */
.section {
    padding: var(--section-padding);
}

/* Set .section-header's padding on all 4 sides */
.section-header {
    padding: var(--section-header-padding);
}

/* Target the section-body class and set padding on all 4 sides */
.section-body {
    padding: var(--section-body-padding);
}

/* Target the section-footer class and set padding on all 4 sides and horizontal alignment */
.section-footer {
    padding: var(--section-footer-padding);
    text-align: var(--section-footer-align);
}

/* Target the class footer and set padding on all 4 sides */
.footer {
    padding: var(--footer-padding);
}

/* Targeting the navbar-menu class and let it float to the right */
.navbar-menu {
    float: right;
}

/* For the nav class */
.nav {
    margin: 0; /* Set the margin on all sides to 0 */
    padding: 0; /* Set the padding on all sides to 0 */
    list-style: none; /* The styling on the list should not use anything */
    text-align: center; /* Center align the text */
}

/* For the nav-item class in nav class */
.nav-item {
    font-family: var(--nav-item-font-family); /* Set the family of fonts to nav-item-font-family */
    font-weight: var(--nav-item-font-weight); /* Set the boldness of fonts to nav-item-font-weight */
    font-size: var(--nav-item-font-size); /* Set the size of fonts to nav-item-font-size */
    letter-spacing: var(--nav-item-letter-spacing); /* Set the spacing between text characters to nav-item-letter-spacing */
    display: var(--nav-item-display); /* Set the display to nav-item-display */
    margin: var(--nav-item-margin); /* Set the margin on all sides to nav-item-margin */
}

/* For the nav-link class in nav class */
.nav-link {
    display: block; /* Set the display to block */
    padding: calc(0.5rem * 1rem) calc(1rem * 1rem); /* Set the padding to half of the root element for top and bottom, and equal to the root element for left and right */
}

/* While hovering over the nav-link class in nav class */
.nav-link:hover {
    color: var(--nav-item-link-hover); /* Set their foreground color value to nav-item-link-hover */
}

