/* CSS to fix issues for dark theme */

/* Styling for footer-address class */
.footer-address {
    /* Set text color to the text-color property */
    color: var(--text-color);
}

/* Styling for social-link class */
.social-link {
    /* Render as a block element */
    display: block;
}

/* Styling for svg children of social-link class */
.social-link svg {
    /* Fill in the color with the text-color variable */
    fill: var(--text-color);
}
