/* CSS to add border radius to images */

/* Selector for card-testimonial */
.card-testimonial {
    /* Center align text */
    text-align: center;
}

/* Target card-avatar inside card-testimonial */
.card-testimonial .card-avatar {
    /* Round the radius on all sides at 50% */
    border-radius: 50%;
    /* Set width to 10x the root element */
    width: 10em;
    /* Set height to 10x the root element */
    height: 10em;
}

/* Target <cite> tag inside card-quote inside card-testimonial */
.card-testimonial .card-quote cite {
    /* Style as block level element */
    display: block;
    /* Pad the top with 1x the root element */
    padding-top: 1em;
    /* Set foreground color value to the value of the color-primary variable */
    color: var(--color-primary);
}
