/* CSS for adding quotes decoration on testimonials */

/* Target the card-quote inside the card-testimonial */
.card-testimonial .card-quote {
    /* Position relative to its parent */
    position: relative;
}

/* Target the before pseudo-element of card-quote inside the card-testimonial */
.card-testimonial .card-quote::before {
    /* Set content to open quote character */
    content: "\201C";
    /* Absolutely position the selected elements */
    position: absolute;
    /* Vertical position */
    top: -4.5rem;
    /* Horizontal position from the left */
    left: -1rem;
    /* Foreground color */
    color: #efeded;
    /* Size of fonts */
    font-size: 10rem;
    /* Set z-index */
    z-index: -1;
}
